venv/
.venv/
env/
bin/

errors_output/
data/
datasets/
cpd_pl/whisper_datasets/
cpd_pl/star/whisper/whisper_kaldi
checkpoints/
*.pt
*.pth
*.wav
*.mp3
*.csv
*.jsonl
*.json
*.arrow
*.txt
*.png

.vscode/
__pycache__/
.DS_Store

finetuned_models/
*.safetensors
*.bin
*.pth
*.pt

models/